@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vazirmatn:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", serif;
    background: linear-gradient(rgba(255, 229, 229, 1), rgba(245, 255, 254, 1), rgba(252, 243, 255, 1), rgba(255, 244, 229, 1));

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: blue;
}

.header-section {
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: #E71D36;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 167px;
    height: 52px;
    border-radius: 48px;
}

.ul {
    width: 548px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

